* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
  transition: all 0.3s ease-in-out;
}

body {
  background: white;
}

.Fact {
  background: rgb(246, 247, 249);
  text-align: start;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem 0;
  min-width: 700px;
  max-width: 700px;
}

.Fact > p {
  margin-top: 0.75rem;
  line-height: 140%;
}

#deleteButton {
  margin-top: 1rem;
  padding: 0.5rem;
  background: none;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.15s ease-in-out;
  background-color: white;
}

#deleteButton:hover {
  background: red;
  color: white;
}

.FactList {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 80vw;
  max-width: 700px;
  display: flex;
  justify-content: space-around;
}

nav h1 {
  font-size: 2rem;
}

.NewNoteFormContainer {
  padding: 1rem;
}

.NewNoteForm {
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 700px;
  margin: 0 auto;
}

.NewNoteForm > input {
  width: 100%;
  margin: 0.4rem auto;
  height: 3rem;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.75rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.NewNoteForm > button {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 25%;
  margin: 0.4rem auto;
  transition: all 0.25s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: rgb(246, 247, 249);
}

.NewNoteForm > button:hover {
  background: black;
  color: white;
}

/* DARK MODE STYLES */
.App--dark {
  background: rgb(41, 43, 51);
  color: white;
}

.App--dark .Fact {
  background: rgb(57,60,72);
  color: white;
}

.App--dark .NewNoteForm button:hover {
  background: rgb(91, 157, 199)
}